<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrystalSoftware.ERP.Api</title>
    <link rel="stylesheet" href="~/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Navigation")

        <div class="content-wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        
        @await Html.PartialAsync("_Sidebar")
        @await Html.PartialAsync("_Footer")
    </div>

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>